body{
    margin:0;
    font-family:Arial;
    background:grey;
}

header{
    background:#8e44ad;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:50px;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:40px;
    flex-wrap:wrap;
}

.photo img{
    width:260px;
    border-radius:20px;
    border:5px solid #8e44ad;
    box-shadow:5px 5px 15px gray;
}

.text{
    max-width:450px;
}

.text h2{
    color:#8e44ad;
}

.text p{
    font-size:20px;
}

button{
    background:#8e44ad;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#6c3483;
}

.title{
    text-align:center;
    color:#8e44ad;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin:30px;
}

.card{
    width:180px;
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
    font-size:40px;
    box-shadow:3px 3px 10px gray;
}

.card h3{
    font-size:20px;
}

.facts{
    width:70%;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:20px;
}

.facts h2{
    color:#8e44ad;
    text-align:center;
}

.facts ul{
    font-size:20px;
}

footer{
    background:#8e44ad;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
